body{
    background-color: rgb(244, 244, 246); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face{
    font-family: thisfont;
    src: url(./font/callme.ttf.otf);
}

@font-face{
    font-family: myFont;
    src: url(./font/Sep.ttf.ttf);
}


/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: rgb(226, 217, 210);
}

::-webkit-scrollbar-thumb {
    background: rgb(240, 228, 217);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-button {
    background-color: rgb(1, 7, 17);
}

::-webkit-scrollbar-thumb:hover{
    background-color:  rgb(96, 92, 89);
}

/* navbar styling starts here */
nav{ 
    position: fixed;
    width: 100%;
     z-index: 998; 
    /* transition: all 0.3s ease; */
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: white;
    opacity: 60%;
    display: flex;
    padding: 0 16px;
}


.menu{
    display: flex;
    width: 50%;
    position: relative; 
    justify-content: space-between;
    font-family: 'Arial Narrow', Arial, sans-serif;
    
}

.menu li{
    list-style: none;
    margin: 0 10px;
    justify-content: center;
    position: relative;
    left: -250px;
    
}

.menu a{
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding: 10px 0;
    transition: all 0.4s ease;
    text-decoration: none;
}

.menu a:hover{
    color: rgb(23, 20, 212);
}

nav > .burger > div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

.burger{
    display: none;
}

.logo img{
    width: 50px;
    height: 50px;
    position: relative;
}

/* table zone */
@media screen and (max-width: 1024px){
    .menu{
        width: 50%;
    }
}

/* portfolio */
.portfolio {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  }
  
  .item {
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
  
    &:nth-child(1), &:nth-child(2) {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: none;
      border-radius: 0;
      box-shadow: none;
      opacity: 1;
    }
  
    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 220px); }
    &:nth-child(5) { left: calc(50% + 440px); }
    &:nth-child(6) { left: calc(50% + 660px); opacity: 0; }
  }
  
  .content {
    width: min(30vw,400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica,sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0,0,0,0.5);
    opacity: 0;
    display: none;
  
    & .title {
      font-family: 'arial-black';
      text-transform: uppercase;
    }
  
    & .description {
      line-height: 1.7;
      margin: 1rem 0 1.5rem;
      font-size: 0.8rem;
    }
  
    & button {
      width: fit-content;
      background-color: rgba(0,0,0,0.1);
      color: white;
      border: 2px solid white;
      border-radius: 0.25rem;
      padding: 0.75rem;
      cursor: pointer;
    }

    & a{
      color: antiquewhite;
      text-decoration: none;
    }
  }
  
  .item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
  }
  
  @keyframes show {
    0% {
      filter: blur(5px);
      transform: translateY(calc(-50% + 75px));
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
  
  .navs {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;
  
    & .btn {
      background-color: rgba(255,255,255,0.5);
      color: rgba(0,0,0,0.7);
      border: 2px solid rgba(0,0,0,0.6);
      margin: 0 0.25rem;
      padding: 0.75rem;
      border-radius: 50%;
      cursor: pointer;
  
      &:hover {
        background-color: rgba(255,255,255,0.3);
      }
    }
  }
  
  @media (width > 650px) and (width < 900px) {
    .content {
      & .title        { font-size: 1rem; }
      & .description  { font-size: 0.7rem; }
      & button        { font-size: 0.7rem; }
    }
    .item {
      width: 160px;
      height: 270px;
  
      &:nth-child(3) { left: 50%; }
      &:nth-child(4) { left: calc(50% + 170px); }
      &:nth-child(5) { left: calc(50% + 340px); }
      &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
    }
  }
  
  @media (width < 650px) {
    .content {
      & .title        { font-size: 0.9rem; }
      & .description  { font-size: 0.65rem; }
      & button        { font-size: 0.7rem; }
    }
    .item {
      width: 130px;
      height: 220px;
  
      &:nth-child(3) { left: 50%; }
      &:nth-child(4) { left: calc(50% + 140px); }
      &:nth-child(5) { left: calc(50% + 280px); }
      &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
    }
  }


/* Home page styling */

.home{
    background-color: rgb(114, 101, 96);
    height: 100vh;
    padding-top: 5rem;
    width: 100%;
    background: url(../Images/PicsArt_09-16-10.37.57.jpg);
    background-size:cover;
    background-position: left;
    font-family:Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    font-weight: lighter;
}

.home .home-content{
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    background-color: aliceblue;
    opacity: 30%;
}

.home-content .text h1{
    font-family: thisfont;
    color: black;
    font-size: 190px;
    position: relative;
    display: flex;
    top: -50px;
    left: -1px;
    text-decoration: none;
}

.home button{
    position: relative;
    display: flex;
    width: 300px;
    height: 50px;
    left: 650px;
    top: -250px;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    box-shadow: 12px 12px 16px 0 rgb(137, 138, 141), inset 0 0 0 0 transparent;
    transition: box-shadow 200ms, transform 300ms cubic-bezier(.2,2,1,1);
}

.home button:hover{
color: rgb(207, 198, 215);
}

.home button:active{
 box-shadow: 0 0 0 transparent, inset 8px 8px 12px 0 rgb(137, 138, 141), inset -8px -8px 12px 0 rgb(226, 217, 210);
 transform: scale(.9);
}


button .btn1{
    position: relative;
    top: 10px;
    left: 95px;
    font-size: 30px;
    text-decoration: none;
    font-family: myFont ;
    color: rgb(23, 14, 46);
   
}

/* inside my portfolio posts  */

.lash{
    background-color: white;
}

.lash h3{
    position: absolute;
    left: 600px;
    top: 70px;
    left: 500px;
}

.lash .biz{
    position: absolute;
    top: 260px;
    left: 800px;
    width: 500px;
}

.lash .img1{
    width: 350px;
    height: 520px;
    position: absolute;
    top: 150px;
    left: 60px;
}

.lash .img2{
    width: 350px;
    height: 520px;
    position: absolute;
    top: 150px;
    left: 480px;
}

.lash .pics .img3{
    width: 727px;
    height: 727px;
    position: absolute;
    top: 750px;
    left: 810px;
}

.lash .pics .img4{
    width: 700px;
    height: 700px;
    position: absolute;
    top: 750px;
    
}

.lash .pics .img5{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 1500px;
    left: 40px;
    padding: 10px;
}

/* .lash .pics .img6{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 1950px;
    left: 400px;
    
} */

.lash .pics .img7{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 1500px;
    left: 900px;
    padding: 10px;

    
}

.lash .pics p{
    width: 400px;
    font-family: var(--body-font);
    position: absolute;
    top: 1600px;
    left: 480px;
}

/* about */

.about img{
    padding: 20px;
    width: 550px;
    height: 700px;
    position: absolute;
    top: 60px;
}

.about .aboutme{
    position: absolute;
    left: 950px;
    top: 200px;
}

.aboutme h3{
    font-family: thisfont;
    font-size: 30px;
}

.aboutme p{
    font-family: myFont;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: -250px;
    width: 600px;
    text-align: center;
}

.about .iconic{
    position: absolute;
    left: 820px;
    top: 570px;
    padding: 20px;
    font-size: 10px;
}

.about .iconic .iconsticker .img1{
    position: absolute;
    top: 10px;
    width: 160px;
    height: 90px;
    left: -10px;
}

.about .iconic .iconsticker .img2{
    position: absolute;
    top: -5px;
    width: 150px;
    height: 120px;
    left: 75px;
}

.about .iconic .icons{
    position: absolute;
    top: 80px;
}

/* Services/contact */
.services{
    background-color: rgb(73, 73, 96);
    width: 100%;
    height: 180dvh;
}

.work{
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 800px;
}
.work img{
    width: 100%;
    height: 100vh;

}

.contact{
    background-color: white;
    width: 1300px;
    height: 300px;
    border-radius: 15px;
    position: absolute;
    top: 930px;
    left: 100px;
}

.contact .mee{
    position: relative;
    top: 50px;
    left: 1000px;
}

.contact img{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 23px;
    left: 20px;
}

.contact h1{
    position: absolute;
    top: -140px;
    left: 450px;
    color: #de4984;
    font-family: thisfont;
    font-size: 90px;
}

.contact .cv{
    position: absolute;
    top: 100px;
    left: 400px;
}

.cv h3{
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: rgb(38, 38, 115);
}

.cv .mycv{
    position: absolute;
    top: 50px;
    left: 1px;
    width: 120px;
    height: 50px;
    background-color: rgb(250, 215, 248);
    border: 5px 10px 5px 10px solid ;
}
.cv .mycv a{
    text-decoration: none;
    color: black;
}
.contacts h5{
    position: absolute;
    top: 100px;
    left: 670px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 14.9px;
    color: rgb(38, 38, 115);
}
.contacts p{
    position: absolute;
    top: 150px;
    left: 630px;
    font-size: 13px;
}

.contacts .email{
    position: absolute;
    top: 180px;
}


.services .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 120px;
    left: 25px;
}

.services .boxes .box{
    margin: 20px 0;
    width: 32%;
    height: 250px;
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgb(37, 36, 45);
    cursor: default;
    transition: all 0.4s ease;
    
}

.services .boxes .bottom-box{
    position: absolute;
    top: 290px;
    left: 497px;
}

.services .boxes .box p{
    font-family: myFont;
    text-decoration: none;
    color:#fbfbfd;
    font-size: 21px;
    position: relative;
    top: 40px;
}

.services .boxes .box .icon{
    height: 50px;
    width: 50px;
    background: aliceblue;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color:  #2c2741;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;

}

.boxes .box:hover .icon{
    background-color: #2c2741;
    color: aliceblue;

}

.services .boxes .box .topic{
    font-family: thisfont;
    font-size: 20px;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover{
    color: #de4984;
    transition: all 0.4s ease;

}

.services .title{
    position: absolute;
    top: 90px;
    font-family: thisfont;
    color: white;
    font-size: 40px;
    text-decoration: underline;
    left: 670px;
}

/* portfolio 2 adobe styling */

.adobe .backadobe a{
    display: none;
}

.adobe .img1 img{
    width: 100%;
    position: relative;
}

.adobe .img2 img{
    width: 100%;
    position: absolute;
    top: 965px;
}

.adobe .img3 img{
    position: absolute;
    top: 1944px;
}

.adobe .img4 img{
    width: 100%;
    position: absolute;
    top: 2413px;
}

.adobe .img5 img{
    width: 680px;
    height: 470px;
    position: absolute;
    top: 1942px;
    left: 731px;
}

